.XS1fT {
	box-shadow:none;
}
.gb_db, .gb_cb .gb_Wa {
  display: none!important;
}
.hjILvd {
  width: 150px!important;
  height: 150px!important;
  z-index: 200;
}
.aPExg {
    margin-top: -23px!important;
}
.t1KkGe.hKA5zb {
    overflow: visible!important;
}
