body {
    font-family: roboto,arial,sans-serif!important;
}
.hn.b4 {
    height: 64px;
}
.hn:before {
  	box-shadow: none!important;
}
div#gb {
    padding-top: 6px;
}
div#lQGP9e {
    padding-top: 5px;
}
span.aO.ew {
    padding-top: 20px;
}
.gb_db {
	display: none;
}
.gb_cb .gb_Wa {
  border-bottom-color: #fff;
}
.gb_4  {
  display: none;
}
.q0upAb.Ergmxf.fiK3ce {
    display: none;
}
